{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    
    <div class="container" style="margin-top: 90px;">
         <div>
           <div class="card mb-3">
            <img src="{{ event.picture }}" class="card-img-top" alt="..." style="height: 550px;">
             <div class="card-body">
             <h5 class="card-title">{{ event.name }}</h5>
             <p class="card-text"><small class="text-body-secondary">{{ event.description }}</small></p>
             <p class="card-text"><small class="text-body-secondary">{{ event.capacity }}</small></p>
              <p class="card-text">{{ event.eventdAt ? event.eventdAt|date('Y-m-d H:i:s') : '' }}</p>
             <p class="card-text"><small class="text-body-secondary">{{ event.phone }}</small></p>
             
             <p class="card-text"><small class="text-body-secondary">{{ event.EMail }}</small></p>
             <a href="https://www.weltmuseumwien.at" class="card-text"><small class="text-body-secondary">{{ event.URL }}</small></a>
             <p class="card-text"><small class="text-body-secondary">{{ event.eventstype }}</small></p>
             <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-primary">Update</a>
             {{ include('event/_delete_form.html.twig') }}
           </div>
        </div>
     </div>
    </div>

    

    

    

    
{% endblock %}
